# Prefix service environment variables
PORT=8080
API_KEY=<change-me>
REQUEST_LIMIT_PER_MIN=120
BODY_LIMIT=2mb
CORS_ORIGIN=*
METRICS_ENABLED=false
FETCH_TIMEOUT_MS=7000
URL_CACHE_TTL_MS=30000
URL_CACHE_MAX=64
IDEMPOTENCY_CACHE_MAX=256
